.cookie-banner {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.cookie-banner a {
  color: var(--text-color);
}

/* Für den Light Mode */
:root {
  --bg-color: #f8f9fa;
  --text-color: #343a40;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; /* 90% Deckkraft */
  color: var(--text-color);
  z-index: 1000;
}

[data-theme="dark"] .cookie-banner {
  background-color: rgba(52, 58, 64, 0.9); /* 90% Deckkraft im dunklen Modus */
}
