body {
  font-family: 'Arial', sans-serif;
  background-color: #333; /* Startet mit Dunkelmodus */
  color: #fff; /* Startet mit weißem Text */
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #c9c9c9;
  color: #000; /* Schwarz */
}

body.light-mode .main-content {
  color: #000; /* Schwarz */
}
body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode a:not(.btn-dark):not(.btn-primary):not(.btn-discord) {
  color: white;
}

body.dark-mode .navbar-brand,
body.dark-mode .navbar-nav .nav-link {
  color: white;
}

body.dark-mode .navbar-toggler-icon {
  background-color: rgba(255,255,255,.5);
}

body.dark-mode .theme-switcher:hover {
  color: white;
}

/* Die Textfarbe der Social-Media-Buttons bleibt im Light-Mode und im Dark-Mode weiß */
.btn-dark, .btn-primary, .btn-discord {
  color: #fff !important;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700; /* Für eine etwas dickere Schrift */
}

/* Textfarbe für Links im Light-Modus */
body.light-mode a {
  color: #000; /* Schwarz */
}


.light-mode .navbar-dark .navbar-brand,
.light-mode .navbar-dark .navbar-nav .nav-link {
  color: black;
}

.light-mode .navbar-dark .navbar-toggler-icon {
  background-color: rgba(0,0,0,.5);
}

.light-mode .theme-switcher:hover {
  color: black;
}
body.light-mode .main-content {
  color: #000; /* Schwarz */
}

.container {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.social-links a {
  margin: 0 10px;
}

.previewskriza {
  height: 300px;
  width: auto;
}

#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(255,255,255,0.7);
  border: none;
  z-index: 1;
}

.skrsocial {
  margin-top: 35px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.previewskriza:hover {
  cursor: pointer;
}

#fullscreenOverlay img {
  max-height: 80vh;
  cursor: pointer;
}

#fullscreenOverlay p {
  max-width: 80%;
  margin: 0 auto;
}

#fullscreenOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.skrizalogo {
  height: 70px;
  width: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #e7e7e7;
}

.btn-dark, .btn-primary, .btn-discord {
  border-radius: 20px;
  padding: 10px 25px;
}

.btn-dark {
  background-color: #333;
  border: none;
}

.btn-primary {
  background-color: #0099FF;
  border: none;
}

.btn-discord {
  background-color: #7289DA;
  border: none;
  color: #ffffff;
}
.navbar-logo{
  padding: 15px;
  color: #fff;
}
.navbar-mainbg{
  background-color: #5161ce;
  padding: 0px;
}
.main-content {
  padding: 30px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,.1);
}

.navbar-dark .navbar-toggler-icon {
  background-color: rgba(255,255,255,.5);
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
}
.spcthm{
  margin-bottom: 30px;
}
.theme-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
}

.theme-switcher:hover {
  color: #fff; /* Farbwechsel beim Hover */
}

.theme-switcher .dark-btn, .theme-switcher .light-btn {
  display: inline-block;
  margin: 0 5px;
}

.theme-switcher i {
  font-size: 14px;
}


.light-btn, .dark-btn {
  cursor: pointer;
}

.light-active {
  background-color: #1f1f1f;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.dark-active {
  background-color: #333;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.copy-right {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 3rem;
}

/* Für die mobile Ansicht */
@media (max-width: 768px) {
  footer {
    padding: 10px 0;
  }

  .container {
    padding: 20px;
  }

  .theme-container {
    margin-bottom: 20px;
  }

  .btn-dark, .btn-primary, .btn-discord, .btn-info {
    padding: 8px 18px; /* Reduzierte Polsterung */
    margin-bottom: 10px; /* Abstand zwischen den Schaltflächen hinzugefügt */
    font-size: 0.9rem; /* Reduzierte Schriftgröße (optional) */
    display: block; /* Jeder Button nimmt eine eigene Zeile ein */
  }

  .social-links a:not(:last-child) {
    margin-right: 0; /* Entfernen Sie den rechten Abstand von allen Buttons außer dem letzten */
    margin-bottom: 5px; /* Abstand zum nächsten Button hinzufügen */
  }
}
