body {
  font-family: 'Arial', sans-serif;
  background-color: #c9c9c9;
  color: #333;
}

.container {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.social-links a {
  margin: 0 10px;
}

.previewskriza {
  height: 300px;
  width: auto;
}

#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(255,255,255,0.7);
  border: none;
  z-index: 1;
}

.skrsocial {
  margin-top: 35px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.previewskriza:hover {
  cursor: pointer;
}

#fullscreenOverlay img {
  max-height: 80vh;
  cursor: pointer;
}

#fullscreenOverlay p {
  max-width: 80%;
  margin: 0 auto;
}

#fullscreenOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.skrizalogo {
  height: 70px;
  width: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #e7e7e7;
}

.btn-dark, .btn-primary, .btn-discord {
  border-radius: 20px;
  padding: 10px 25px;
}

.btn-dark {
  background-color: #333;
  border: none;
}

.btn-primary {
  background-color: #0099FF;
  border: none;
}

.btn-discord {
  background-color: #7289DA;
  border: none;
  color: #ffffff;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
}

.theme-container {
  width: 180px;
  height: 68px;
  border-radius: 50px;
  border: 5px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.light-btn, .dark-btn {
  cursor: pointer;
}

.light-active {
  background-color: #1f1f1f;
  margin: 0px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.dark-active {
  background-color: #333;
  margin: 0px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.copy-right {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 3rem;
}

/* Für die mobile Ansicht */
@media (max-width: 768px) {
  footer {
    padding: 10px 0;
  }

  .container {
    padding: 20px;
  }
}
